.header {
    grid-area: header;
    background-color: #5eb25e;
}

.header img {
    width: 70px;
    /*border: 1px solid #5eb25e;*/
}

.loginBlock {
    float: right;
    margin: 5px;
}

.loginBlock a {
    color: white;
    margin: 5px;
}